.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100vh;
    max-height: 100vh;
}

.block {
    outline: 1px solid red;
    box-shadow: -15px 15px 0 #591616;
    /* box-shadow: 15px -15px 0 #252525; */
    background-color: #252525;
    height: 150%;
    width: 33vw;
    padding: 25px;
}

.text_p1_block_0 {
    font-size: 2rem;

    padding-top: 0px;
}
.text_p1_block_1 {
    font-size: 1.2rem;

    padding: 20px;
}
.text_p1_block_2 {
    font-size: 1rem;

    padding-bottom: 15px;

}