@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Warang+Citi&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    /* outline: 1px solid red; */
    padding: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: #181818;
    color: white;
}

header {
    z-index: 2;
}

button {
    /* outline: 1px solid red; */
    box-shadow: -15px 15px 0 #591616;
    color: white;
    /* box-shadow: 15px -15px 0 #252525; */
    background-color: #252525;
    /* height: 150%; */
    padding: 15px;
    animation: d_BTN_color 0.25s ease-in-out reverse;
} button:hover {
    box-shadow: -5px 5px 0 #591616;
    transform: translate(-10px, 10px);
    color: #E84949;
    animation: BTN_color 0.25s ease-in-out;
}
